.cover-image {
  border-radius: 5px;
  max-height: 50vh;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.book-info {
  padding: 20px;
}

@media (min-width: 750px) {
  .book-entry {
    display: flex;
    align-items: center;
  }
}

@media (max-width: 750px) {
  .book-entry {
      margin-bottom: 40px;
  }
}
