
/** COLORS **/
$primary-color: rgba( 43, 72,106,1); 
$lightest-color: rgba(109,132,159,1);
$lighter-color: rgba( 70, 97,130,1);
$darker-color: rgba( 22, 49, 82,1);
$darkest-color: rgba(  6, 28, 54,1);


*, *:after, *:before {
  font-family: 'Railway', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: $lightest-color;
}

body {
  background: linear-gradient(to left, $primary-color, $darker-color);
}

.std-btn {

  background-color: $lighter-color;

  &:hover {
    background-color: $lightest-color;
  }

  &:active {
    background-color: $primary-color;
  }

  &[disabled=disabled] {
    background-color: #dfdfdf;
    color: #9f9f9f;
  }
}


/** TRENDS PAGE **/
.book-entry {

  .card-content {
    line-height: 200%;
  }

  .card-title {
    margin-left: 5px;
  }

  .card-action {
    width: 100%;
    margin: auto;
    margin-top: 10px;

  }

  img {
    border-radius: 4px;
  }
}

.title {

}
.author {
  float: right;
  font-style: italic;
}

nav {
  background: linear-gradient(to right, $primary-color, $darker-color);
}

/** PROFILE **/

input[type=text]:focus {
   border-bottom: 1px solid $lightest-color;
   box-shadow: 0 1px 0 0 #000;
}

.reactions {

  .card-title {
    margin-left: 5px;    
  }

  .btn {
    margin: 5px;
  }

}


