/** COLORS **/
*, *:after, *:before {
  font-family: 'Railway', sans-serif;
  font-weight: 100; }

h1, h2, h3, h4, h5, h6 {
  color: white;
  font-weight: 100; }

body {
  background: linear-gradient(to right, #407F7F, #226666); }

.collapsible-header {
  color: #000; }
  .collapsible-header i {
    color: #4F628E; }

.collapsible-header:hover {
  color: #787878; }
  .collapsible-header:hover i {
    color: #8797bd; }

.std-btn {
  background-color: #407F7F; }
  .std-btn:hover {
    background-color: #4F628E; }
  .std-btn:active, .reactions .btn.selected {
    background-color: #2E4272; }
  .std-btn[disabled=disabled] {
    background-color: #dfdfdf;
    color: #9f9f9f; }

.amz-btn img {
  width: 116px;
  height: 56px; }

.amz-btn:hover {
  opacity: 0.7; }

.amz-btn:active {
  opacity: 0.4; }

.book-info .card-content {
  padding-bottom: 0px; }

/** TRENDS PAGE **/
.book-entry {
  padding: 3%;
  border-bottom: 1px #669999 solid; }
  .book-entry .cover-image {
    overflow: hidden;
    background-color: #669999;
    max-height: 50vh;
    max-width: 100%; }
  .book-entry .card-content {
    line-height: 200%; }
  .book-entry .card-title {
    margin-left: 5px; }
  .book-entry .card-action {
    width: 100%;
    margin: auto;
    margin-top: 10px; }
  .book-entry img {
    border-radius: 4px; }

.author {
  float: right;
  font-style: italic;
  margin-bottom: 5px; }

nav {
  background: linear-gradient(to right, #2E4272, #162955); }

/** PROFILE **/
.input-field label {
  color: #0D4D4D; }

.input-field input[type=text]:focus {
  border-bottom: 1px solid #226666;
  box-shadow: 0 1px 0 0 #226666; }

.input-field input[type=text] {
  border-bottom: 1px solid #407F7F;
  box-shadow: 0 1px 0 0 #669999; }

.reactions .card-title {
  margin-left: 5px; }

.reactions .btn {
  margin: 5px; }

form.book {
  padding: 15px;
  background-color: #669999; }
  form.book h3 {
    color: #0D4D4D; }

.book-collection {
  max-height: 75vh;
  overflow: auto;
  background-color: #669999;
  border-radius: 0px 0px 5px 5px;
  margin-top: 0px; }

.new-book {
  margin-bottom: 0px; }

.tabs .tab a {
  color: #0D4D4D;
  outline-color: #0D4D4D; }
  .tabs .tab a.active {
    color: #2E4272; }
  .tabs .tab a:hover {
    color: #4F628E;
    outline-color: #4F628E; }

.tabs .indicator {
  background-color: #2E4272;
  padding: 1px;
  border: 1px solid white; }

.collapsible {
  border-color: #226666;
  border-radius: 5px; }
  .collapsible .collapsible-body {
    border-color: #226666; }

.greet {
  font-size: 2em;
  color: #122042;
  font-weight: 100; }

.spinner-layer {
  border-color: white; }

.collection.amazon-results {
  margin-top: 10px; }

.preloader-wrapper.ng-hide {
  /* this is just another form of hiding an element */
  display: block !important;
  float: right;
  opacity: 0; }

.collection a.collection-item {
  color: #407F7F; }

/* SLIDER */
.tick {
  top: 12px;
  border: 1.5px solid #4F628E;
  height: 5px;
  width: 0px; }

.slider-value-key {
  top: -10px;
  font-size: .8em; }

input[type=range]::-webkit-slider-thumb {
  background-color: #2E4272;
  z-index: 10; }
  input[type=range]::-webkit-slider-thumb:hover, input[type=range]::-webkit-slider-thumb:active {
    background-color: #4F628E; }

.cover-image {
  border-radius: 5px;
  max-height: 50vh;
  margin-left: auto;
  margin-right: auto;
  display: block; }

.blank-cover {
  position: relative; }

.blank-cover-title {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: calc(50vh * .30);
  width: 100%;
  color: #ffd232; }

.amazon-link {
  margin-right: -25px; }

.cover-title, .cover-author {
  display: flex;
  align-self: center;
  justify-content: center;
  font-family: 'IM Fell English', 'Papyrus', serif;
  font-style: italic; }

.cover-title {
  font-size: 3vh; }

.cover-author {
  padding-top: 2vh;
  font-size: 2vh; }

.book-info {
  padding: 20px; }

.book-info .card-action {
  padding-top: 5px;
  margin-bottom: -20px; }

.thumb {
  display: none; }

.slider-key {
  margin-top: -10px; }

input[type=range] {
  z-index: 5;
  border: 0px; }

.range-field {
  height: 34px;
  margin-top: 10px; }

.slider-value-key, .tick {
  position: absolute !important;
  z-index: 1; }

@media (min-width: 600px) {
  .book-entry {
    display: flex;
    align-items: center; } }

@media (max-width: 600px) {
  .book-entry {
    margin-bottom: 40px; }
  .blank-cover-title {
    padding: 0px 35%; } }

/*# sourceMappingURL=main.css.map */