
/** COLORS **/
$primary-color: rgba( 57, 43, 58,1); 
$lightest-color: rgba(119, 99,120,1);
$lighter-color: rgba( 90, 71, 91,1);
$darker-color: rgba( 41, 24, 42,1);
$darkest-color: rgba( 37, 14, 38,1);


*, *:after, *:before {
  font-family: 'Railway', sans-serif;
  font-weight: 100;
}

h1, h2, h3, h4, h5, h6 {
  color: white;
  font-weight: 100;
}

body {
  background: linear-gradient(to right, $lighter-color, $primary-color);
}

.std-btn {

  background-color: $lighter-color;

  &:hover {
    background-color: $lightest-color;
  }

  &:active {
    background-color: $primary-color;
  }

  &[disabled=disabled] {
    background-color: #dfdfdf;
    color: #9f9f9f;
  }
}


/** TRENDS PAGE **/
.book-entry {

  .cover-image {
    overflow: hidden;
    background-color: $lightest-color;
    max-height: 100%;
    max-width: 100%;
  }

  .card-content {
    line-height: 200%;
  }

  .card-title {
    margin-left: 5px;
  }

  .card-action {
    width: 100%;
    margin: auto;
    margin-top: 10px;

  }

  img {
    border-radius: 4px;
  }
}

.title {

}
.author {
  float: right;
  font-style: italic;
  margin-bottom: 5px;
}

nav {
  background: linear-gradient(to right, $primary-color, $darker-color);
}

/** PROFILE **/

.input-field label {
  color: $darker-color;
}

.input-field input[type=text]:focus {
   border-bottom: 1px solid $primary-color;
   box-shadow: 0 1px 0 0 $primary-color;
}

.input-field input[type=text] {
  border-bottom: 1px solid $lightest-color;
  box-shadow: 0 1px 0 0 $lightest-color;
}


.reactions {

  .card-title {
    margin-left: 5px;    
  }

  .btn {
    margin: 5px;
  }

  .btn.selected {
    @extend .std-btn:active;
  }

}

form.book {
  h3 {
    color: $darker-color;
  }
  padding: 15px;
  background-color: $lighter-color;
  
}

.collapsible {
  border-color: $primary-color;
  border-radius: 5px;
  .collapsible-body {
    border-color: $primary-color;
  }
}

.greet {
  font-size: 2em;
  color: $darkest-color;
  font-weight: 100;
}

.spinner-layer {
  border-color: white;
}

.amz-btn {
  border: 1px solid white;
  border-radius: 5px;
}

.collection.amazon-results {
  margin-top: 10px;
}

.preloader-wrapper.ng-hide {
  /* this is just another form of hiding an element */
  display: block!important;
  float: right;
  opacity: 0;
}

.collection a.collection-item {
  color: $lighter-color;
}




