<div>
  <a href="http://hackreactor.com/remote-beta"> 
  <img style="position: fixed; top: 0; right: 0; border: 0; z-index: 1000;" 
  src="http://i.imgur.com/x86kKmF.png" 
  alt="Built at Hack Reactor Remote Beta"> 
  </a>
  <h1>About</h1>
  <div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Goal</span>
          <p>Our goal was to create an application that allows our users to keep track of the books they have read and their reactions to those books. They can also view books that have been read by other users and the overall community opinion on those books. Users can add books they they are interested in reading in the future to their To Read List.</p>
        </div>
      </div>
    </div>
  </div>
  <h2>Our Team:</h2>
  <div class="row">
    
    <div class="col s12 m12 l6">
      <div class="card-panel">
        <div class="row valign-wrapper">
          <div class="col s4">
            <img class="circle responsive-img" src="../../assets/img/Ben.png">
          </div>    
          <div class="col s8">
            <h3 class="flow-text black-text">Ben Baum</h3>
            <p>Product Owner</p>
          </div>      
        </div>
      </div>
    </div>

    <div class="col s12 m12 l6">
      <div class="card-panel">
        <div class="row valign-wrapper">
          <div class="col s4">
            <img class="circle responsive-img" src="../../assets/img/Michelle.png">
          </div>    
          <div class="col s8">
            <h3 class="flow-text black-text">Michelle Thorsell</h3>
            <p>Scrum Master</p>
          </div>      
        </div>
      </div>
    </div>

    <div class="col s12 m12 l6">
      <div class="card-panel">
        <div class="row valign-wrapper">
          <div class="col s4">
            <img class="circle responsive-img" src="../../assets/img/Jordan.jpg">
          </div>    
          <div class="col s8">
            <h3 class="flow-text black-text">Jordan Murphy</h3>
            <p>Engineer</p>
          </div>      
        </div>
      </div>
    </div>

    <div class="col s12 m12 l6">
      <div class="card-panel">
        <div class="row valign-wrapper">
          <div class="col s4">
            <img class="circle responsive-img" src="../../assets/img/Josh.png">
          </div>    
          <div class="col s8">
            <h3 class="flow-text black-text">Josh Riesenbach</h3>
            <p>Engineer</p>
          </div>      
        </div>
      </div>
    </div>
  
  </div>
  

  <div>
    <h2>Tech Stack</h2>
    <div>
      <img class="cover-image" src="../../assets/img/mysqlIcon.png"><span>MySql</span>
    </div>
    <div>
      <img class="cover-image" src="../../assets/img/bookshelfIcon.png"><span>Bookshelf</span>
    </div>
    <div>
      <img class="cover-image" src="../../assets/img/nodeIcon.png"><span>Node</span>
    </div>
    <div>
      <img class="cover-image" src="../../assets/img/expressIcon.png"><span>Express</span>
    </div>
    <div>
      <img class="cover-image" src="../../assets/img/angularIcon.png"><span>Angular</span>
    </div>
    <div>
      <img class="cover-image" src="../../assets/img/nglarIcon.png"><span>nglar</span>
    </div>
    <div>
      <img class="cover-image" src="../../assets/img/auth0Icon.jpeg"><span>Auth0</span>
    </div>
    <div>
      <img class="cover-image" src="../../assets/img/amazonIcon.png"><span>Amazon API</span>
    </div>
    <div>
      <img class="cover-image" src="../../assets/img/materializeIcon.png"><span>Materialize</span>
    </div>
  </div>
</div>