<link rel="stylesheet" type="text/css" href="/assets/css/book.entry.css">
<div class="row book-entry">
  <div class="col s12 m5">
        <img class="cover-image" ng-src="{{book.high_res_image || book.large_image || book.medium_image || book.small_image || book.thumbnail_image}}">
  </div>
  <div class="col s12 m7 v-middle">
    <div class="card book-info">
      <span class="card-title title">{{ book.title }}</span>
      <div class="card-content">
        <div>Author: {{ book.author.name }}</div>
        <div>Rating: {{ book.avgReaction }} </div>
      </div>
      <div ng-if="reactable">
        <div class="reactions card-action center-align">
          <a
            class="std-btn btn"
            ng-repeat="reaction in reactions"
            ng-click="setReaction($event, $index + 1)"
            ng-class="{selected: $index + 1 === book.reaction}"
          >
            {{reactions[$index + 1]}}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
