<link rel="stylesheet" type="text/css" href="/assets/css/book.entry.css">
<link href='https://fonts.googleapis.com/css?family=IM+Fell+English:400,400italic' rel='stylesheet' type='text/css'>
<div class="row book-entry">
  <div class="col s12 m5">
    <img class="cover-image" ng-if="book.high_res_image || book.large_image || book.medium_image || book.small_image || book.thumbnail_image" ng-src="{{book.high_res_image || book.large_image || book.medium_image || book.small_image || book.thumbnail_image}}">
    <div ng-if="!book.high_res_image && !book.large_image && !book.medium_image && !book.small_image && !book.thumbnail_image" class='blank-cover'>
      <img class="cover-image" ng-src="{{ blankCovers[hash(book.title, blankCovers.length)] }}">
      <script>
        $('img.cover-image').on('load', function () {
          $('.cover-title').css('width', ($('img.cover-image').width() * 0.5));
          $('.cover-author').css('width', ($('img.cover-image').width() * 0.5));
        });
        $(window).resize(function () {
          $('.cover-title').css('width', ($('img.cover-image').width() * 0.5));
          $('.cover-author').css('width', ($('img.cover-image').width() * 0.5));
        });
      </script>
      <div class="blank-cover-title">
        <div class="cover-title">{{ book.title }}</div>
        <div class="cover-author">{{ book.author.name }}</div>
      </div>
    </div>
  </div>
  <div class="col s12 m7 v-middle">
    <div class="card book-info">
      <span class="card-title title">{{ book.title }}</span>
      <div class="card-content">
        <div>Author: {{ book.author.name }}</div>
        <div ng-if="book.reaction">Your opinion: {{ reactions[book.reactionSlider/25 + 1] }} </div>
        <div ng-if="book.avgReaction">Community opinion: {{ reactions[(Math.round(book.avgReaction))] }} <span class="avg-rating">({{ book.avgReaction }}/5)</span></div>
        <div ng-if="!book.avgReaction"><a target="_blank" href="{{ book.amz_url || 'http://amazon.com/?_encoding=UTF8&camp=1789&creative=9325&linkCode=ur2&tag=rdr0a-20&linkId=PIYOGYVDVLZ2HCQZ'}}" class="be-first">Be the first to read it!</a>
        </div>
        <div class="action-buttons" ng-if="!book.reaction">
          <a class="read-btn" ng-hide="!signedIn" ng-click="addToReadList(book.title, book.ISBN, book.publisher, book.high_res_image, book.large_image, book.medium_image, book.small_image, book.thumbnail_image, book.amz_url, book.author.name, book)" ng-if="book.reaction === undefined">Add</a>
          <a target="_blank" href="{{ book.amz_url || 'http://amazon.com/?_encoding=UTF8&camp=1789&creative=9325&linkCode=ur2&tag=rdr0a-20&linkId=PIYOGYVDVLZ2HCQZ'}}" class="amz-btn">
            <img src="/assets/img/amz_logo.png" />
          </a>
        </div>
      </div>
        <div class="reactions card-action center-align" ng-if="book.reaction && path === '/profile'">
          <!-- uses a different step as opposed to min/max due to when angular sets value -->
          <!-- step is 25 and value is set to the 0-100 equivalent of 1-5 -->
          <form action="#" class="reaction-form">
            <div class="range-field">
              <div class="slider-value-key" style="left: .8%">1</div>
              <div class="slider-value-key" style="left: 25.1%">2</div>
              <div class="slider-value-key" style="left: 49.2%">3</div>
              <div class="slider-value-key" style="left: 72.1%">4</div>
              <div class="slider-value-key" style="left: 97.2%">5</div>
              <input type="range" step="25" ticks="true" value="{{ book.reactionSlider }}" ng-model="book.reactionSlider" class="reaction-slider" ng-mouseup="updateReaction(book)" ng-touchend="updateReaction(book)"/>
              <!-- adds ticks as they cannot be displayed with materialze -->
              <div class="tick" style="left: 1.5%"></div>
              <div class="tick" style="left: 26%"></div>
              <div class="tick" style="left: 50%"></div>
              <div class="tick" style="left: 73%"></div>
              <div class="tick" style="left: 98%"></div>
            </div>
            <div class="left slider-key" style="margin-left: -18px">{{ reactions[1] }}</div>
            <div class="right slider-key" style="margin-right: -18px">{{ reactions[5] }}</div>
          </from>
        </div>

    </div>
  </div>
</div>
