<div class="user-page">
  <div class="row">
    <p class="greet">Hello, {{name || 'you'}}</p>
    <ul class="collapsible new-book" data-collapsible="accordian">
      <li>
        <div class="collapsible-header">
          <i class="material-icons">library_books</i>
          Add Book
        </div>
        <div class="collapsible-body">
          <form class="book z-depth-5" name="bookSubmission" ng-submit="addBook()">
            <div class="preloader-wrapper active right" ng-hide="!submitting">
              <div class="spinner-layer">
                <div class="circle-clipper left">
                  <div class="circle"></div>
                </div>
                <div class="gap-patch">
                  <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                  <div class="circle"></div>
                </div>
              </div>
            </div>
            <div>
              <div class="input-field">
                <label for="title">Title</label>
                <input ng-change="searchTimer()" id="title" type="text" ng-model="bookTitle" required>
              </div>
            </div>
            <div>
              <div class="input-field">
                <label for="author">Author</label>
                <input ng-change="searchTimer()" id="author" class="input-field" type="text" ng-model="authorName" required>
              </div>
            </div>

            <div class="amazon-results collection">
              <a ng-click="selectAmazonResult(result)" ng-repeat="result in amazonResults" href="#/profile" class="collection-item">{{result.ItemAttributes[0].Title[0]}}{{result.ItemAttributes[0].Author[0] ? ', by ' + result.ItemAttributes[0].Author[0] : '' }}</a>
            </div>

            <div id="reactions" class="card reactions center-align">
                <div class="card-action">
                  <a class="std-btn btn" ng-click="hasRead = true">I Have Read This Book</a>
                  <a class="std-btn btn" ng-click="addToReadingList()" ng-click="setReaction($event, 0)">I Want To Read This Book</a>
              </div>
              <div class="card-action" ng-show="hasRead">
                <div class="card-title">
                  Reaction
                </div>
                <a class="std-btn btn" ng-repeat="reaction in reactions" ng-click="setReaction($event, $index + 1)">{{reactions[$index + 1]}}</a>
              </div>
            </div>

            <input class="std-btn btn" type="submit" ng-disabled="bookSubmission.$invalid || !(reaction > -1)" value="Add Book">
          </form>
        </div>
      </li>
    </ul>
  </div>
  <div class="row">
    <ul class="tabs">
      <li class="tab"><a href="#book-list">Your Book List</a></li>
      <li class="tab"><a href="#to-read">To Read List</a></li>
    </ul>
    <div id="book-list" class="book-collection">
      <ul>
        <li ng-repeat="book in books | orderBy:book.id:true | filter: filterReactions" ng-include="bookTemplate">
        </li>
        <div class="message card" ng-show="!books.length">
          <div class="card-content">
            Start adding books above!
          </div>
        </div>
      </ul>
    </div>
    <div id="to-read" class="book-collection">
      <ul>
        <li ng-repeat="book in books | orderBy:book.id:true | filter: { reaction: 0 }" ng-include="bookTemplate">
        </li>
        <div class="message card" ng-show="!books.length">
          <div class="card-content">
            Start adding books above!
          </div>
        </div>
      </ul>
    </div>
  </div>
  <script>
    $('.collapsible').collapsible();
    $('ul.tabs').tabs();
  </script>

</div>
