<div class="user-page">
  <div class="row">
    <p class="greet">Hello, You!</p>
    <ul class="collapsible new-book" data-collapsible="accordian">
      <li>
        <div class="collapsible-header add-book">
          <i class="material-icons">search</i>
         Find User
        </div>
        <div class="collapsible-body">
          <form class="book z-depth-5" name="bookSubmission" ng-submit="addBook()">
            <div class="preloader-wrapper active spinner" ng-hide="!submitting">
              <div class="spinner-layer">
                <div class="circle-clipper left">
                  <div class="circle"></div>
                </div>
                <div class="gap-patch">
                  <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                  <div class="circle"></div>
                </div>
              </div>
            </div>
              <div class="input-field">
                <label for="title">Title</label>
                <input ng-change="searchTimer(); clearAmazonInfo()" id="title" type="text" ng-model="bookTitle" required>
              </div>
              <div class="input-field">
                <label for="author">Author</label>
                <input ng-change="searchTimer(); clearAmazonInfo()" id="author" class="input-field" type="text" ng-model="authorName" required>
              </div>
            <div class="amazon-results collection z-depth-1">
              <div class="collection-item amazon-result" ng-repeat="result in amazonResults">
                <a class="row" amazon-thumbnail ng-click="selectAmazonResult(result)" href="#/profile" class="result-link">
                  <div class="col s10 result-container">
                  {{result.ItemAttributes[0].Title[0]}}{{result.ItemAttributes[0].Author[0] ? ', by ' + result.ItemAttributes[0].Author[0] : '' }}
                  </div>
                </a>
              </div>
            </div>

            <div id="reactions" class="card reactions center-align">
                <div class="card-action">
                  <a class="std-btn btn" ng-click="hasRead = true; reaction = undefined;" ng-class="{selected: hasRead && reaction !== 0}">I Have Read This Book</a>
                  <a class="std-btn btn" ng-click="addToReadingList()" ng-click="setReaction($event, 0)" ng-class="{selected: reaction === 0}">I Want To Read This Book</a>
              </div>
              <div class="card-action" ng-show="hasRead && reaction !== 0">
                <div class="card-title">
                  Reaction
                </div>
                <div class="reaction-buttons">
                  <a class="std-btn btn" ng-repeat="reaction in reactions" ng-click="setReaction($event, $index + 1)">{{reactions[$index + 1]}}</a>
                </div>
              </div>
            </div>

            <input class="std-btn btn" type="submit" ng-disabled="bookSubmission.$invalid || !(reaction > -1)" value="Add Book">
          </form>
        </div>
      </li>
    </ul>
  </div>
  <div class="row feed">
    <ul class="tabs">
      <li class="tab"><a href="#book-list" ng-click="scrollToTop($event)">Your Book List</a></li>
      <div class="tab-divider"></div>
      <li class="tab"><a href="#to-read" ng-click="scrollToTop($event)">To Read List</a></li>
    </ul>
    <div id="book-list">
      <ul class="book-collection">
        <li ng-repeat="book in books | orderBy:book.id:true | filter: filterReactions" ng-include="bookTemplate">
        </li>
        <div class="message card" ng-show="!books.length">
          <div class="card-content">
            Search other users book lists above!
          </div>
        </div>
      </ul>
    </div>
    <div id="to-read">
      <ul class="book-collection">
        <li ng-repeat="book in books | orderBy:book.id:true | filter: { reaction: 0 }" ng-include="bookTemplate">
        </li>
        <div class="message card" ng-show="!books.length">
          <div class="card-content">
            Search other users book lists above!
          </div>
        </div>
      </ul>
    </div>
  </div>
  <script>
    $('.collapsible').collapsible();
    $('ul.tabs').tabs();
  </script>

</div>
